/* === DEV ===*/

.border-1 {
	border: 1px solid blue;
}

.border-2 {
	border: 1px solid green;
}

.border-3 {
	border: 1px solid red;
}


/* === CUSTOM CSS ===*/
/* === 1. GLOBAL ===*/
/* === 2. CHAT ===*/


/* === 1. GLOBAL === */
.margin-top-50 {
	margin-top: 50px;
}

.margin-left-right-100 {
	margin-left: 100px;
	margin-right: 100px;
}

/* === 2. CHAT === */
.chat-box {
	height: 600px;
	border: 2px solid rgb(69, 54, 199);
	border-radius: 30px;
	background-color: aliceblue;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

/* Partie messages */
.chat-message {
	flex: 1;
	overflow-y: auto;
	padding: 20px;
}

/* Champ de saisie */


.chat-input {
	padding: 20px;
	border-top: 1px solid #ccc;
	background-color: white;
	display: flex;
	gap: 10px;
}

.message-field {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline: none;
	font-size: 16px;
}

.send-button {
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	background-color: #007bff;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.send-button:hover {
	background-color: #0056b3;
}
