/* === CUSTOM CSS ===*/
/* === 0. DEV ===*/
/* === 1. GLOBAL ===*/
/* === 2. CHAT ===*/


/* === 0. DEV ===*/

.border-1 {
	border: 1px solid blue;
}

.border-2 {
	border: 1px solid green;
}

.border-3 {
	border: 1px solid red;
}

.border-4 {
	border: 1px solid black;
}

.border-5 {
	border: 1px solid purple;
}


/* === 1. GLOBAL === */

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-left-right-100 {
	margin-left: 100px;
	margin-right: 100px;
}

/* === 2. CHAT === */

