/* === DEV ===*/

.border-1 {
	border: 1px solid blue;
}

.border-2 {
	border: 1px solid green;
}

.border-3 {
	border: 1px solid red;
}


/* === CUSTOM CSS ===*/
/* === 1. GLOBAL ===*/
/* === 2. XXX ===*/


/* === 1. GLOBAL ===*/